$desktop-width: 1280px;
$tablet-width: 1020px;
$mobile-width: 350px;

$mobileL-width: 517px;

$L-radius: 8px;
$S-radius: 6px;
$xS-radius: 4px;

$color-shade: rgba(255, 255, 255, 0.2);

$color-shade-m: rgba(255, 255, 255, 0.96);
$color-shade-l: #FFFFFF;
$color-shade-xs: rgba(255, 255, 255, 0.6);
$color-shade-s: rgba(255, 255, 255, 0.8);

$color-bg: #121212;


@mixin media-desktop{
    @media (max-width: $desktop-width) { @content; }
}

@mixin media-tablet{
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile{
    @media (max-width: $mobile-width) { @content; }
}

@mixin media-mobileL{
    @media (max-width: $mobileL-width) { @content; }
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;